[submodule "vim/bundle/Align"]
	path = vim/bundle/Align
	url = https://github.com/vim-scripts/Align.git
	ignore = dirty
[submodule "vim/bundle/CSApprox"]
	path = vim/bundle/CSApprox
	url = https://github.com/vim-scripts/CSApprox.git
	ignore = dirty
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
	ignore = dirty
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
	ignore = dirty
[submodule "vim/bundle/vim-puppet"]
	path = vim/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
	ignore = dirty
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
	ignore = dirty
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule "vim/bundle/vim-characterize"]
	path = vim/bundle/vim-characterize
	url = https://github.com/tpope/vim-characterize.git
	ignore = dirty
[submodule "vim/bundle/vim-speeddating"]
	path = vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
	ignore = dirty
[submodule "vim/bundle/snipMate"]
	path = vim/bundle/snipMate
	url = https://github.com/msanders/snipmate.vim.git
	ignore = dirty
[submodule "vim/bundle/vim-trailing-whitespace"]
	path = vim/bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
	ignore = dirty
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
	ignore = dirty
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	ignore = dirty
[submodule "vim/bundle/vim-multiple-cursors"]
	path = vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
	ignore = dirty
[submodule "vim/bundle/gundo.vim"]
	path = vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
	ignore = dirty
[submodule "vim/bundle/highlight.vim"]
	path = vim/bundle/highlight.vim
	url = https://github.com/vim-scripts/highlight.vim.git
	ignore = dirty
[submodule "vim/bundle/rust.vim"]
	path = vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
	ignore = dirty
[submodule "local/bin/bashmarks"]
	path = local/bin/bashmarks
	url = https://github.com/huyng/bashmarks.git
	ignore = dirty
[submodule "vim/bundle/vim-localrc"]
	path = vim/bundle/vim-localrc
	url = https://github.com/thinca/vim-localrc.git
	ignore = dirty
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
	ignore = dirty
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
	ignore = dirty
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "vim/bundle/AutoClose"]
	path = vim/bundle/AutoClose
	url = https://github.com/vim-scripts/AutoClose.git
	ignore = dirty
[submodule "vim/bundle/vim-toml"]
	path = vim/bundle/vim-toml
	url = https://github.com/cespare/vim-toml.git
	ignore = dirty
[submodule "vim/bundle/Smooth-Scroll"]
	path = vim/bundle/Smooth-Scroll
	url = https://github.com/vim-scripts/Smooth-Scroll.git
	ignore = dirty
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
	ignore = dirty
[submodule "vim/bundle/vim-qml"]
	path = vim/bundle/vim-qml
	url = https://github.com/peterhoeg/vim-qml.git
	ignore = dirty
[submodule "vim/bundle/vim-jinja"]
	path = vim/bundle/vim-jinja
	url = https://github.com/avacariu/vim-jinja.git
	ignore = dirty
[submodule "vim/bundle/vim-git"]
	path = vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
	ignore = dirty
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
	ignore = dirty
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
	ignore = dirty
[submodule "vim/bundle/vim-rsi"]
	path = vim/bundle/vim-rsi
	url = https://github.com/tpope/vim-rsi.git
	ignore = dirty
[submodule "vim/bundle/vim-abolish"]
	path = vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
	ignore = dirty
[submodule "vim/bundle/vim-sleuth"]
	path = vim/bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
	ignore = dirty
[submodule "vim/bundle/vim-capslock"]
	path = vim/bundle/vim-capslock
	url = https://github.com/tpope/vim-capslock.git
	ignore = dirty
[submodule "vim/bundle/vim-virtualenv"]
	path = vim/bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
	ignore = dirty
[submodule "vim/bundle/Colorizer"]
	path = vim/bundle/Colorizer
	url = https://github.com/chrisbra/Colorizer.git
	ignore = dirty
[submodule "vim/bundle/dockerfile.vim"]
	path = vim/bundle/dockerfile.vim
	url = https://github.com/avacariu/dockerfile.vim.git
	ignore = dirty
[submodule "vim/bundle/vim-bracketed-paste"]
	path = vim/bundle/vim-bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste.git
	ignore = dirty
[submodule "vim/bundle/python_match.vim"]
	path = vim/bundle/python_match.vim
	url = https://github.com/vim-scripts/python_match.vim
	ignore = dirty
[submodule "vim/bundle/ag.vim"]
	path = vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim
	ignore = dirty
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
	ignore = dirty
[submodule "vim/bundle/julia-vim"]
	path = vim/bundle/julia-vim
	url = https://github.com/JuliaLang/julia-vim.git
	ignore = dirty
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
	ignore = dirty
[submodule "vim/bundle/undotree"]
	path = vim/bundle/undotree
	url = https://github.com/mbbill/undotree.git
